.products {
  max-width: 1160px;
  box-sizing: border-box;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 188px;
  grid-template-rows: auto 40px;
  grid-column-gap: 46px;
  grid-row-gap: 80px;
}
